/* Element Selector */
body {
    background-color:rgb(192, 192, 192);
    color :rgb(185, 4, 4);
}
h1 {
    color :rgb(233, 38, 87)
}
h2 {
    color :rgb(14, 13, 13);
}
p {
    color :#000000
}

a{
    color:rgb(233, 38, 87);
}
a:hover{
    color:rgb(0, 0, 0);
}

label {
    color :rgb(0, 0, 0)
}
button {
    background-color: rgb(233, 38, 87);
    color: #fffefe;
}