{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

    <h1>Upload Image</h1>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Upload</button>

    </form>


    <h2>Profile Image</h2>

    {% if uploaded_image %}

        <img src="{{ uploaded_image }}" alt="Uploaded image" width="250">

    {% else %}

        <img
            src="{% static 'images/default-avatar.png' %}"
            alt="Default avatar"
            width="250"
        >

    {% endif %}

</body>
</html>